#login_principal{
   left: 50%;
    margin-left: -150px;
    /*margin-top: auto;*/
    margin-top: -10px;
    position: absolute;
    top: 50%;
}
#login_principal fieldset{
    margin: 10px;
}
#login_principal fieldset legend{
    font-size:20px;
    color: #0E64B5;
}
#login_principal table{
    margin:0px auto;
}
#login_principal{

}
#login_principal{

}
#login_principal{

}
#login_principal{

}
