body{
    margin:0; 
    font-family: Arial; 
    font-size: 14px;
}
.header_right a img{
height: 50px;
}
#header{
    border-bottom: 1px solid grey;
    box-shadow: 0 0 20px black;
    height: 5em;
    padding: 20px;
    position: relative;
    background-color: #0E64B5;
}
#header div {

}
#header .bienvenido{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #DBDBDB;

}
#header .nombre{
    font-style: italic;
}
#header .user{

}
#header #title{
    height:200px; 
    background-color:skyblue; 
    color: white;
}
#header .header_left{
    height: 5em;
    left: 55%;
    line-height: 30px;
    margin-left: 0;
    margin-top: -50px;
    padding-top: 1em;
    position: absolute;
    top: 65%;
    width: 400px;
}
#header .header_right{
    height: 100px;
    margin-top: -5px;
    padding-top: 10px;
    position: absolute;
    right: 1em;
    text-align: center;
    top: 10%;
    width: 70px;
    cursor:pointer;
}
#header .header_right a{
    color: #DBDBDB;
    font-weight: bold;
    line-height: 25px;
}
#logo{
    float: left;
    left: 10em;
    position: absolute;
    top: 0.7em;
}
#logo img{
  /*  height: 10em;*/
	border: 0;
}
#content{
    height: 100%;
    max-height: 250px;
    min-height: 250px;
    padding: 20px;
    position: relative;
}
.user #contenido_principal{
  position: relative;   
}
.user  #contenido_principal table{
 top:170%;
 left:40%;
 margin-left:-300px;
 position: absolute;
}
.credit #contenido_principal{
  position: relative;   
}
.credit  #contenido_principal table{
 top:2em;
 left:17%;
 margin-left:-300px;
 position: absolute;
}
#footer div {
    color: white;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
#footer{

    height:50px;
    background-color: #0E64B5;
}

/*login form*/
#loginForm{
width:400px;
}

td  div{
width: 150px;
}
td {
width: 200px;
}
td.nombre div {
text-align: left;
width: 400px;
}
td.razon div {
text-align: center;
width: 400px;
}
td  div{
text-align: center;
}
td.accion  div a{
width: 70px;
display:inline;
}
th {
}