<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="com.itrade" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application android:background="@android:color/transparent"
        android:icon="@drawable/mapa" android:label="@string/app_name" android:name=".pedidos.MyApplication">
        <activity android:label="@string/app_name"
            android:name=".pedidos.Login"
            android:theme="@android:style/Theme.NoTitleBar" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/ventanamapa" android:name=".pedidos.VerMapaActivity"/>
        <activity android:label="@string/app_name" android:name=".pedidos.EnviarMensaje"/>
        <activity android:label="@string/app_name" android:name=".pedidos.RecibirMensaje"/>
        <activity android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation"
            android:name=".pedidos.BuscarPedidos" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name" android:name=".pedidos.Incidencias"/>
        <activity android:label="@string/app_name" android:name=".pedidos.Menu"/>
        <activity android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation"
            android:name=".pedidos.BuscarProductos" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:label="@string/app_name" android:name=".pedidos.BuscarClientes"/>
        <activity android:label="@string/app_name"
            android:name=".pedidos.DetalleCliente"
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:name=".pedidos.DetalleProspecto" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:name=".pedidos.CrearPedido" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:name=".pedidos.BuscarProspectos" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name" android:name=".pedidos.MenuLista"/>
        <activity android:launchMode="singleTask"
            android:name=".pedidos.BuscarClientesGreenDao"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation"
            android:name=".pedidos.BuscarProspectosFusion" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:name=".pedidos.MiMeta" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:name=".pedidos.SimpleCalendarViewActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name" android:name=".pedidos.MiUbicacionActivity"/>
        <activity android:label="@string/app_name"
            android:name=".pedidos.UbicacionCheckInActivity"
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:name=".pedidos.UbicacionProspectoActivity"
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:name=".pedidos.VerDia"
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".pedidos.DetallePedido"
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".pedidos.verEvento"
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".pedidos.BuscarContactos"
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".pedidos.DetalleContacto"
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:name=".pedidos.Picker" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/app_name"
            android:name=".pedidos.PreferencePedidos"
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@style/PreferencesTheme">
            <intent-filter/>
        </activity>
        <activity android:label="@string/app_name" android:name=".pedidos.MiUbicacionImplActivity"/>
        <activity android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".pedidos.RegistrarProspecto"
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ListaClientes"/>
        <activity android:launchMode="standard"
            android:name=".cobranzas.ClientesListTask"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="standard"
            android:name=".cobranzas.RequestDetailTask"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="standard"
            android:name=".cobranzas.PaymentTask"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="singleTask"
            android:name=".cobranzas.MapaClientes"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="singleTask"
            android:name=".cobranzas.RutaCliente"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="standard"
            android:name=".cobranzas.Calendario"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="singleTask"
            android:name="com.itrade.cobranzas.DetalleDia"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="singleTask"
            android:name="com.itrade.cobranzas.DetalleEvento"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="standard"
            android:name="com.itrade.cobranzas.Directorio"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="singleTask"
            android:name="com.itrade.cobranzas.ContactoDetalle"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="standard"
            android:name="com.itrade.cobranzas.Amortizacion"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="standard" 
            android:name="com.itrade.cobranzas.Buscaclientes"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:launchMode="standard" 
            android:name="com.itrade.cobranzas.BuscarPedidoCliente"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
    </application>      
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
</manifest>
